@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import 'variables';

body {
  font-family: "Krona One", helvetica, arial, sans-serif;
  margin: 0px;
  overflow-x: hidden;
  font-size: 141px;
  letter-spacing: 0.095em;
}

a {
  text-decoration: none;
  color: black;
}
